@import "../../base/definition.scss";

.is_waiting {
  background-color: $waitingColor;
}

.is_inprogress {
  background-color: $inprogressColor;
}

.is_completed {
  background-color: $completedColor;
}

.is_pending {
  background-color: $pendingColor;
}

.is_hidden {
  display: none;
}

.is_active {
  display: block;
}
