// margin
.hp_mt5 {
  margin-top: 5px;
}

.hp_mb10 {
  margin-bottom: 10px;
}

.hp_ml10 {
  margin-left: 10px;
}

.hp_ml15 {
  margin-left: 15px;
}

.hp_mtb5 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.hp_mtb15 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.hp_mrl10 {
  margin-right: 10px;
  margin-left: 10px;
}

.hp_mrl15 {
  margin-right: 15px;
  margin-left: 15px;
}

.hp_ma5 {
  margin: 5px;
}

.hp_ma10 {
  margin: 10px;
}

// padding
.hp_pb5 {
  padding-bottom: 5px;
}

.hp_prl2 {
  padding: 0 2px;
}

.hp_pl10 {
  padding-left: 5px;
}

// border
.hp_bb {
  border-bottom: solid 1px gray;
}

// cursor
.hp_csrp {
  cursor:pointer;
}

// z-index
.hp_zindex1 {
  z-index: 1;
}
.hp_zindex2 {
  z-index: 2;
}
.hp_zindex3 {
  z-index: 3;
}
.hp_zindex4 {
  z-index: 4;
}
.hp_zindex5 {
  z-index: 5;
}
