// margin
.hp_ml10 {
  margin-left: 10px;
}

.hp_ml15 {
  margin-left: 15px;
}

.hp_mtb15 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.hp_mrl15 {
  margin: 0 15px;
}

// padding
.hp_prl2 {
  padding: 0 2px;
}

.hp_pl10 {
  padding-left: 5px;
}

// z-index
.hp_zindex1 {
  z-index: 1;
}
.hp_zindex2 {
  z-index: 2;
}
.hp_zindex3 {
  z-index: 3;
}
.hp_zindex4 {
  z-index: 4;
}
.hp_zindex5 {
  z-index: 5;
}
