// margin
.hp_ml10 {
  margin-left: 10px;
}

.hp_ml15 {
  margin-left: 15px;
}

.hp_mtb15 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.hp_mrl15 {
  margin: 0 15px;
}

// padding
.hp_prl2 {
  padding: 0 2px;
}
